
.sb-carousel
  margin-top: 90px
  position: relative
  overflow: hidden
  min-height: 400px

.sb-slide-image
  width: 25%
  min-height: 400px
  height: 100%

.sb-slider-box
  display: flex
  position: relative
  width: 400%
  left: 0
  align-items: flex-end
  transition: left 1s ease-in-out 0.1s

.sb-circle-box
  position: absolute
  bottom: 20px
  left: 50%

.sb-circle
  width: 25px
  height: 25px
  opacity: 0.3
  margin: 0 5px 0 5px
  border-radius: 50px
  background: white
  outline: none
.sb-circle:hover
  opacity: 1

#nav-next
  position: absolute
  left: 10px
  top: 50%
  color: white
  font-weight: bold
  cursor: pointer
  opacity: 0.3
  font-size: 3em
  transform: translateY(-50%)

#nav-next:hover
  opacity: 1

#nav-prev
  position: absolute
  right: 10px
  top: 50%
  color: white
  font-weight: bold
  cursor: pointer
  opacity: 0.3
  font-size: 3em
  transform: translateY(-50%)

#nav-prev:hover
  opacity: 1
