
<!--for order list-->
<section class="cart-section1">
    <h2>Thank you for your order!</h2>
    <blockquote>Please use <a href="#!/tracking">this link</a> to track your orders.
        You will not be billed until order is shipped.
        We will email you confirmation when your items ship.
    </blockquote>
    <hr/>
    <div class="confirm-item" ng-repeat="ITEM in SHOPPING_CTRL.cartItems">
        <img class="confirm-img" ng-src="{{SHOPPING_CTRL.getThumbnailByCartItemIndex($index)}}">
        <div class="confirm-text">
            <p>{{SHOPPING_CTRL.getProductByCartItemIndex($index).name}}</p>
            <div class="confirm-detail">
                Qty: {{SHOPPING_CTRL.cartItems[$index].quantity}}
                <span class="confirm-total">
                    Total: ${{SHOPPING_CTRL.getProductByCartItemIndex($index).price
                        * SHOPPING_CTRL.cartItems[$index].quantity}}
                </span>
            </div>
        </div>
    </div>

    <hr/>
    <div class="confirm-detail text-center">
        Subtotal: ${{ SHOPPING_CTRL.calcCartTotal() }}
    </div>
</section>

<!--for action buttons-->
<div class="cart-bottom">
    <button class="btn-main center-block" ng-click="SHOPPING_CTRL.navTo('home')">Continue Shopping</button>
</div>
<div ng-include="'app/common/footer.html'"></div>
